__pycache__/
.idea
.vscode
dist/
build/
*.spec
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
Others/
ECoG-papers/
EEG-papers/
data/bci3_npz_raw/
data/motor_basic_npz_raw/
data/imagery_basic_npz_raw/
data/src/
data/epoched_data
*.npz
*.mat
