__pycache__/
.idea
.vscode
dist/
build/
*.spec
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
Others/
ECoG-papers/
EEG-papers/
data/bci3_npz/
data/motor_basic_npz/
data/ecog-library/motor_basic/
data/bci3-dataset1/