__pycache__/
.idea
.vscode
dist/
build/
*.spec
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
Others/
ECoG-papers/
EEG-papers/
data/bci3_npz/
data/motor_basic_npz/
data/imagery_basic_npz/
data/ecog-library/
data/bci3-dataset1/
data/als_dataset
data/one_dim_bci dataset
data/cognitive_control_dataset
*.npz
*.mat
